* {
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
  overflow: hidden;
}


p {
  font-size: 18px;
}

.section-grid {
  display: grid;
  grid-template-columns: 25rem 1fr;
  height: 100%;
}



/*SIDEBAR*/

.sidebar {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
}


.sidebar li {
  border-bottom: 1px solid ghostwhite;
}

.search,
.chat-footer input {
  border: 1.5px solid gainsboro;
  height: 2rem;
  border-radius: 0.4rem;
  padding: 0rem 1rem;
  width: 100%;

}


.search {
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.1);
}




.contact-list {
  overflow-y: auto;
}

.contact {
  display: flex;
  border-radius: 0.4rem;
  padding: 0.8rem;
  gap: 1rem;
  align-items: center;
}

.contact div {
  width: 100%;
}

.contact img,
.chat-header img {
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
}


.chat-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.contact h4,
.chat-header h3 {
  font-size: large;
  background-color: transparent;
  white-space: nowrap;
}






.status {
  color: gray;
  font-size: small;
}


.status::before {
  content: '●';
  margin-right: 0.4rem;
}

.online::before {
  color: green;
}


.offline::before {
  color: red;
}


.contact:hover {
  background-color: ghostwhite;
}




/*CHAT*/

.flex {
  display: flex;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gainsboro;
  border-radius: 0.3rem;
}


.chat header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid gainsboro;
}


.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: ghostwhite;
  height: 100%;
  padding: 1rem;
}


.message {
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem
}


.chat-actions {
  display: flex;
  gap: 0.8rem;

}


.chat-actions button,
.chat-footer button {
  border: none;
  color: gray;
  font-size: x-large;
  background-color: transparent;
}



.timestamp {
  color: gray;
  font-size: smaller;
}


.sent {
  background-color: aliceblue;
  align-self: end;
  text-align: right;
}


.received {
  background-color: #f5f5f5;
  align-self: start;
  text-align: left;
}


.chat-footer {
  padding: 1rem;
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}


.button-back {
  display: none;
  color: grey;
  background-color: transparent;
  border: none;
  font-size: x-large;
}





@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .section-grid {
    grid-template-columns: 1fr;
  }


  .button-back {
    display: block;
  }
}