* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}


p {
  font-size: 18px;
}


input:focus,
textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
}


.section-grid {
  display: grid;
  grid-template-columns: 25rem 1fr;
  height: 100%;
}


/*SIDEBAR*/

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
}


.sidebar li {
  border-bottom: 1px solid #ebebeb;
}


.input-content {
  position: relative;
  display: flex;
  border: 1px solid gainsboro;
  height: 2.5rem;
  border-radius: 0.4rem;
  padding: 0rem 1rem 0rem 0rem;
  align-items: center;
}


.input-content:focus-within {
  border-color: #2b8b2e;
  box-shadow: 0 0 5px rgba(85, 173, 72, 0.788);
}


.search {
  border: none;
  margin: 2px;
  padding: 0rem 1rem;
  width: 100%;
}


.contact-list {
  overflow-y: auto;
}

.contact {
  display: flex;
  border-radius: 0.4rem;
  padding: 0.8rem;
  gap: 1rem;
  align-items: center;
}

.contact div {
  width: 100%;
}

.contact img,
.chat-header img {
  object-fit: cover;
  background-color: transparent;
  border-radius: 50%;
}

.contact img {
  min-height: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
}


.chat-header img {
  height: 3.5rem;
  width: 3.5rem;
}


.chat-header {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.contact h4,
.chat-header h3 {
  background-color: transparent;
  white-space: nowrap;
}

.contact h4 {
  font-size: large;
}


.chat-header h3,
.chat-actions button {
  font-size: x-large;
}


.status {
  color: gray;
  font-size: small;
}

.chat-header .status {
  font-size: medium;
}


.status::before {
  content: 'â—';
  margin-right: 0.4rem;
}

.online::before {
  color: green;
}


.offline::before {
  color: red;
}


.contact:hover {
  background-color: rgb(225, 255, 222);
}





/*CHAT*/


.chat {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  border: 1px solid gainsboro;
}


.chat header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid gainsboro;
  gap: 1rem;
}


.chat-messages {
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
}

.chat-messages::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./background-chat.png") no-repeat center center;
  background-size: cover;
  opacity: 0.23;
  z-index: 0;
}

.chat-messages>* {
  position: relative;
  z-index: 1;
}


.message {
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem
}


.chat-actions {
  display: flex;
  gap: 0.8rem;

}


.chat-actions button,
.chat-footer button {
  border: none;
  color: gray;
  background-color: transparent;
  cursor: pointer;
}



.chat-actions button:hover,
.chat-footer button:hover {

  color: rgb(60, 169, 60);
}



.timestamp {
  color: gray;
  font-size: smaller;
}


.sent {
  background-color: #d2ffe4;
  align-self: end;
  text-align: right;
}


.received {
  background-color: #fefefe;
  align-self: start;
  text-align: left;
}


.chat-footer {
  padding: 1.5rem 1rem;
  border-top: 1px solid gainsboro;
}


.button-back {
  display: none;
  color: grey;
  background-color: transparent;
  border: none;
  font-size: x-large;
}


.chat-textarea {
  resize: none;
  border: none;
  margin: 2px;
  padding: 0rem 1rem;
  align-content: center;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  font-family: inherit;
  font-size: medium;
}


.chat-textarea::-webkit-scrollbar {
  display: none;
}



.color-gray {
  color: gray;
}



/*PANTALLA CELULAR*/
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .section-grid {
    grid-template-columns: 1fr;
  }

  .button-back {
    display: block;
  }

  .chat header {
    background: linear-gradient(to bottom, #ffffff, #b4b4b4);
  }

  .chat-actions i {
    color: black;
  }
}






/*PANTALLA TABLETS*/
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    display: none;
  }

  .section-grid {
    grid-template-columns: 1fr;
  }

  .button-back {
    display: block;
  }

  .chat header {
    background: white;
  }
}